html {
    font-family: 'Lato', sans-serif;
}
.battleship {
    display: none;
}
.counter {
    margin-bottom: 5px;
	padding: 10px;
	text-align: center;
}
.counter div {
	display: inline-block;
    margin-right: 50px;
}
.bestPlayer {
    position: absolute;
    width: 600px;
    height: 200px;
    margin-left: 250px;
    margin-top: 100px; 
    padding-top:200px;
    color: orangered;
    font-size: 2.5em;
}
.winMessage {
    padding-top: 100px;
}